In [2]:
# Frederick "Forrest" Miller, REU Initial Analysis of Pool 26
# imports
import pandas as pd
import numpy as np
import pickle
print("Very nice")

Very nice

In [4]:
# get data and filter for pool
water_data = pickle.load(open(r"C:\Users\forre\Desktop\REU\TDA\Data\water_data_coords.p", "rb"))
veg_path = r"C:\Users\forre\Desktop\REU\TDA\Data\ltrm_vegsrs_data.csv"
veg_data = pd.read_csv(veg_path, low_memory = False)
print(veg_data.columns)
print(veg_data.shape)
print(water_data.columns)
print(water_data.shape)

# Filter each dataset by Open river FLDNUM == 4
water_data = water_data[water_data["FLDNUM"]==4]
veg_data = veg_data[veg_data["FLDNUM"]==4]
print(water_data.shape)
print(veg_data.shape)

print("dub")

Index(['BARCODE', 'ROWNUM', 'PAGENUM', 'FLDNUM', 'PROJCD', 'POOL', 'DATE',
       'LDRCODE', 'RCRDCODE', 'DETRITUS', 'SBSTRATE', 'SITECD', 'MSTRATUM',
       'ASTRATUM', 'RIVMILE', 'VEG_S', 'VEG_RF', 'VEG_E', 'VEG_A', 'VEG_NRF',
       'VEG_U', 'COV_NRF', 'COV_RF', 'COV_E', 'EAST1', 'NORTH1', 'ZONE',
       'ACCUR1', 'METHOD', 'EAST2', 'NORTH2', 'ACCUR2', 'ZONE_U', 'EAST_U',
       'NORTH_U', 'GRIDCODE', 'EAST_15', 'NORTH_15', 'HABITAT1', 'HABITAT2',
       'HABITAT3', 'HABITAT4', 'HABITAT5', 'HABITAT6', 'DEPTH1', 'DEPTH2',
       'DEPTH3', 'DEPTH4', 'DEPTH5', 'DEPTH6', 'DENSITY1', 'DENSITY2',
       'DENSITY3', 'DENSITY4', 'DENSITY5', 'DENSITY6', 'BATCHNUM', 'SPPCD',
       'VISUAL1', 'VISUAL2', 'VISUAL3', 'VISUAL4', 'VISUAL5', 'VISUAL6',
       'RAKE1', 'RAKE2', 'RAKE3', 'RAKE4', 'RAKE5', 'RAKE6', 'ADDSPP',
       'COVSPP', 'QECODE', 'VOUCHER'],
      dtype='object')
(125302, 74)
Index(['SHEETBAR', 'FLDNUM', 'DATE', 'TIME', 'NSAMPLES', 'PROJCD', 'LOCATCD',
       'DATABLCK', 'WAVHI', 'WAVEHIQF',
       ...
       'SO4', 'SO4QF', 'HABCLASS', 'INSTCODE', 'LINKBAR', 'RAWNTU', 'RAWNTUQF',
       'CHLcal', 'LATITUDE', 'LONGITUDE'],
      dtype='object', length=133)
(106052, 133)
(16513, 133)
(6399, 74)
dub

In [5]:
# initial analysis with a bunch of box plots 
continuous = ['TN','TP','TEMP','DO','TURB','COND','VEL','SS','WDP','CHLcal','SECCHI']
water_data[continuous].describe()

,TN,TP,TEMP,DO,TURB,COND,VEL,SS,WDP,CHLcal,SECCHI
count,4386.000000,4331.000000,14890.000000,14872.000000,11161.000000,14523.000000,8943.000000,10859.000000,14874.000000,11100.000000,14798.000000
mean,3.212318,0.235113,16.147435,10.351547,51.033868,466.784273,0.241396,62.928264,2.885055,34.994239,34.763617
std,4.548059,0.180547,9.477294,3.540395,50.475523,95.186056,0.345619,64.249803,2.674017,35.727238,20.680236
min,-0.200000,-0.001000,-0.500000,0.000000,0.000000,0.000000,0.000000,-0.100000,0.000000,-1.000000,1.000000
25%,2.009000,0.148000,11.500000,8.000000,20.000000,409.000000,0.000000,23.200000,0.900000,12.097422,21.000000
50%,3.003500,0.194000,16.200000,9.600000,36.000000,453.000000,0.000000,41.700000,1.980000,24.084500,30.000000
75%,4.047000,0.265000,24.500000,12.400000,65.000000,513.000000,0.420000,81.800000,4.000000,45.222620,42.000000
max,187.429000,4.148000,40.300000,27.100000,850.000000,1146.000000,1.700000,1023.000000,22.800000,737.749800,433.000000

In [ ]:
"""
take water_data frame and do box plots on variables 
like this: water_data["SECCHI"].plot.box()
and change it for each thing 


For presentation: 
summary stats on those variables and also 
vegetation data 

Also incorporate Doug's map and make a beamer presentation
"""